/* color variables */
$cream: #feedde;
$discord-charcoal: #23272a;
$french-yellow: #ffe556;
$peppermint-blush-white: #f2ebe3;
$tailwind-dark-orange: rgb(249 115 22 / 100%);
$tailwind-lighter-orange: #ff9933;
$white: #fff;

/* media query variables */
$min-1280: '(min-width: 1280px)';

.mb-auto {
    & a.text-blue-500 {
        color: $discord-charcoal;
        margin-top: 1rem;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;

        &:hover {
            color: $cream;
        }
    }

    article {
        cursor: pointer;
    }
}

/* creates the margin between read more and post description on blog page */
.text-base {
    margin-top: 0.75rem;
}

span.top-heading h3 a, span.bottom-heading h3 a {
    &:hover {
        color: $cream;
    }
}

span.top-heading h3 {
margin-bottom: 0.25rem;
    
    @media #{$min-1280} {
        display: none;
    }
}

.dark span.top-heading h3 a, .dark span.bottom-heading h3 a {
    color: $tailwind-dark-orange;

    &:hover {
        color: $tailwind-lighter-orange;
    }
}

.dark h2.text-2xl.font-bold.leading-8.tracking-tight a.text-gray-900 {
    color: $tailwind-dark-orange;

    &:hover {
        color: $tailwind-lighter-orange;
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.dark a.text-blue-500 {
  color: $tailwind-dark-orange;

  &:hover {
    color: $tailwind-lighter-orange;
  }
}

/* had to add .-m-4 class along with display block, otherwise first project did not span across full width or center */

/* stylelint-disable-next-line selector-class-pattern */
.-m-4.flex.flex-wrap {
    margin: 0 auto 0.75rem;
    display: block;
}

.meta-wrapper>.flex.flex-wrap {
    display: none;
}