/* color variables */
$discord-charcoal: #23272a;
$french-yellow: #ffe556;
$peppermint-blush-white: #f2ebe3;
$tailwind-lighter-orange: #f93;

/* media query variables */
$min-1280: '(min-width: 1280px)';

.mb-auto {
    & a.text-blue-500 {
        color: $discord-charcoal;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;

        &:hover {
            color: $french-yellow;
        }
    }

    h2.text-2xl.font-bold.leading-8.tracking-tight {
        margin-bottom: 0.5rem;
        font-weight: 600;

        &:hover {
            color: $french-yellow;
        }
    }

    article {
        cursor: pointer;
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.dark a.text-blue-500 {
  color: $peppermint-blush-white;

  &:hover {
    color: $tailwind-lighter-orange;
  }
}

/* had to add .-m-4 class along with display block, otherwise first project did not span across full width or center */

/* stylelint-disable-next-line selector-class-pattern */
.-m-4.flex.flex-wrap {
    margin: 0 auto 0.75rem;
    display: block;
}


.meta-wrapper>.flex.flex-wrap {
    @media #{$min-1280} {
        display: none;
    }
}