/* color variables */
$discord-magenta: #ff73fa;
$french-yellow: #ffe556;
$gradient-background-blue: #1095c1;
$peppermint-blush-white: #f2ebe3;
$tailwind-dark-orange: rgb(249 115 22 / 100%);
$tailwind-lighter-orange: #ff9933;

.h-full.overflow-hidden.rounded-md.border-2.border-gray-200 {
    padding: 1.5rem;
    border-color: $peppermint-blush-white;
    border-width: 1px;
    border-style: solid;

    &:hover {
        background: rgba($gradient-background-blue, 0.5);
        cursor: pointer;
    }
}

.p-6 {
    padding: 1rem 0 0;

    & div.flex.flex-wrap {
        margin-bottom: 0.75rem;
    }
}

.dark div.flex.flex-wrap {
    color: $discord-magenta;
}

/* dark mode styling */

/* changes the color of the project title */
.dark h2 a {
    color: $peppermint-blush-white;

    &:hover {
        color: $french-yellow;
    }
}

/* changes the color of the project text summary */

/* stylelint-disable-next-line selector-class-pattern */
.dark p.dark\:text-gray-400 {
    --tw-text-opacity: 1;

    color: rgb(237 225 213 / var(--tw-text-opacity));
}

.dark h2.mb-3.text-2xl.font-bold.leading-8.tracking-tight a {
    color: $tailwind-dark-orange;
}
/* Styles the project title on hover in projects page */
.dark h2.mb-3.text-2xl.font-bold.leading-8.tracking-tight a:hover {
    color: $tailwind-lighter-orange;
    cursor: pointer;
}
