/* color variables */
$discord-charcoal: #23272a;
$discord-magenta: #ff73fa;
$gradient-background-blue: #1095c1;
$cream: #ffe9d6;
$gradient-background-blue: #1095c1;
$tailwind-peppermint-green: #14b8a6;

.faqs-heading ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0 1rem;

    & li {
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        text-indent: -2rem;
    }
}

.faqs-heading h2[id^=q]::before, .faqs-heading h2[id^=a]::before {
    content: ' ';
    border-left: 2.5px solid;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
    position: absolute;
    display: inline-block;
}

.faqs-heading h2[id^=q]::before, .faqs-heading h2[id^=q] {
    color: darken($discord-magenta, 40%);
}

.dark .faqs-heading h2[id^=q]::before, .dark .faqs-heading h2[id^=q] {
    color: $discord-magenta;
}

.faqs-heading h2[id^=q] > b.faqs-b, .faqs-heading h2[id^=a] > b.faqs-b {
    color: $discord-charcoal;
    font-weight: normal;

    & > a {
        color: darken($gradient-background-blue, 20%);
    }

    & > a:hover {
        color: lighten($tailwind-peppermint-green, 12%) !important;
    }
}

.faqs-heading h2[id^=a]::before, .faqs-heading h2[id^=a] {
    color: darken($gradient-background-blue, 20%);
}

.dark .faqs-heading h2[id^=a]::before, .dark .faqs-heading h2[id^=a] {
    color: lighten($gradient-background-blue, 20%);
}

.faqs-heading > blockquote:nth-of-type(odd) {
    background: rgba($discord-magenta, 0.7);
    border-left-color: darken($discord-magenta, 40%);
    font-style: normal;
    margin-bottom: 0;
}

.dark .faqs-heading > blockquote:nth-of-type(odd) {
    background: rgba($discord-charcoal, 0.7);
    border-left-color: $discord-magenta;
}

.faqs-heading > blockquote:nth-of-type(even) {
    background: lighten(rgba($gradient-background-blue, 0.5), 5%);
    border-left-color: darken($gradient-background-blue, 20%);
    font-style: normal;
    margin-bottom: 0;
}

.dark .faqs-heading > blockquote:nth-of-type(even) {
    background: rgba($gradient-background-blue, 0.7);
    border-left-color: lighten($gradient-background-blue, 20%);
    
    & b {
        color: white;
    }
}