/* media query variables */
$min-1280: '(min-width: 1280px)';

.text-gray-500 {

    --tw-text-opacity: 1;

    color: rgb(35 39 42 / var(--tw-text-opacity));
}

/* stylelint-disable-next-line selector-class-pattern */
.xl\:divide-y> :not([hidden])~ :not([hidden]) {
    @media #{$min-1280} {
        --tw-divide-y-reverse: 1;

        border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
        border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    }
}

.site-footer {
    font-size: 1.1rem;
    font-weight: 500;
}

svg.social-icon {
    height: 2rem;
    width: 2rem;
}