/* color variables */
$cream: #ffe9d6;
$tailwind-dark-orange: rgb(249 115 22 / 100%);
$tailwind-lighter-orange: #ff9933;

/* media query variables */
$min-1280: '(min-width: 1280px)';

.index-article-wrapper {
    border: 1.5px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.125rem;
}

.dark .index-article-wrapper {
    border-radius: 0.5rem;
}

h2.index-article-latest-header {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
}

h2.slider-top-heading {
    &:hover {
        color: $cream;
    }
    @media #{$min-1280} {
        display: none;
    }
}

.dark h2.slider-top-heading {
     color: $tailwind-dark-orange;

    &:hover {
        color: $tailwind-lighter-orange
    }
}

.dark h2.slider-bottom-heading {
    display: none;
    @media #{$min-1280} {
        display:block;
        color: $tailwind-dark-orange;

        &:hover {
            color: $tailwind-lighter-orange;
        }
    }
}

span.top-heading h2 a {
    margin-bottom: -1.5rem;
    
    &:hover {
        color: $cream;
    }
    @media #{$min-1280} {
        display: none;
    }
}

span.bottom-heading h2 a {
    display: none;
    @media #{$min-1280} {
        display: block;
        margin-top: 0;

        &:hover {
            color: $cream;
        }
    }
}