/* variables */
$discord-charcoal: #23272a;
$discord-lilac-lighter: #9eb3e6;
$peppermint-blush-white: #f2ebe3;

/* ListLayout light mode styling */

.mb-auto {
    padding: 1.5rem;

    & input.border-gray-300 {
        --tw-border-opacity: 1;

        border-color: rgb(0 0 0 / var(--tw-border-opacity));
        background: $discord-charcoal;
        color: $peppermint-blush-white;
    }

    & .divide-y > :not([hidden]) ~ :not([hidden]) {
        --tw-divide-y-reverse: 0;

        border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
        border-top-color: $discord-charcoal;
    }

    & a.text-primary-500 {
        color: $discord-charcoal;
        line-height: 1.5;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
    }
    
    & a.text-gray-900 {
        font-weight: 600;
    }
}

/* ListLayout dark mode styling */

.dark div.dark\:text-gray-400 {
    --tw-text-opacity: 1;

    color: rgb(237 225 213 / var(--tw-text-opacity));
}

.dark .divide-y > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;

    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-top-color: $peppermint-blush-white;
}

.relative.max-w-lg {
    max-width: 768px;

    & input.search.dark\:border-gray-900 {
        box-shadow: none;
    }
}
