/* stylelint-disable selector-class-pattern */
/* stylelint-disable-next-line no-descending-specificity */

/*color  variables */
$chai-punk-pink-lite: #f293b1;
$cream: #ffe9d6;
$discord-charcoal: #23272a;
$discord-burgundy: #b81111;
$discord-lilac-lighter: #9eb3e6;
$french-yellow: #ffe556;
$inline-code-color-lite-mode: #4D0F0F;
$main-background: #fee9d7;
$peppermint-blush-white: #f2ebe3;
$tailwind-peppermint-green: #14b8a6;
$tailwind-dark-orange: rgb(249 115 22 / 100%);
$tailwind-lighter-orange: #ff9933;
$white: #fff;
$inline-code-color-lite-mode: #4D0F0F;

/* media query variables */
$min-1280: '(min-width: 1280px)';

/* Custom styles - light mode individual post page */å

.text-3xl {
    font-weight: normal;
}

main.mb-auto {
    border: 1px solid $peppermint-blush-white;
    border-radius: 0.63rem;
    cursor: pointer;

  /* lighter shade of $discord-lilac because of color contrast issue (accessibility) */
    background: rgba($discord-lilac-lighter, 0.5);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 1280px;
    width: 100%;
    margin: 4.5rem auto 3rem;
}

.home-page-wrapper {
    display:flex;
    flex-direction: column;
}

dd.text-gray-500>time {
    color: $discord-charcoal;
}

img.rounded-full {
    border: 1px solid $discord-charcoal !important;
}

.dark img.rounded-full {
     border: 1px solid $white !important;
}

dd.text-gray-900,
dd>a.text-primary-500 {
    font-size: 1.1rem;
}

dd>a.text-primary-500 {
    color: $discord-charcoal;
}

.prose {
    color: $discord-charcoal;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    & strong,
    & strong>em {
        color: #000;
    }

    & h2 {
        font-weight: 600;
    }
}

.prose>div>img {
    box-shadow: 2px 5px 5px 2px rgb(0, 0, 0) !important;
}

.prose p>code {
    background: transparent;

    /* replaced previous choice(s) with this color because of color contrast issues (accessibility) */
    color: $inline-code-color-lite-mode;
    font-size: 1rem;
    font-weight: 600;
    word-break: break-all;
}

.prose p>a {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    & > code {
    color: $discord-charcoal;
        background: transparent;
    }
}

.prose p>a:hover {
    text-decoration: none;
    color: $peppermint-blush-white !important;
}

/* stylelint-disable-next-line no-descending-specificity */
.prose p>a,
.prose ul li>a {
    color: $discord-charcoal !important;

    &:hover {
        color: $discord-burgundy !important;
    }
}

.prose>ul {
    list-style: square;
    margin-left: -0.75rem;

      /* stylelint-disable-next-line no-descending-specificity */
    & li>a {
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;

        &:hover {
            color: $discord-burgundy !important;
      }
    }
    & li>code {
        background-color: transparent;
        color: $inline-code-color-lite-mode;
    }
}

.prose ul>li::marker {
    color: $discord-charcoal;
}

.prose>blockquote {
    background: $main-background;
    color: $discord-charcoal;
    border-left: 0.4rem solid rgb(132 0 88 / 100%);
    padding: 0.5rem 1rem;

    & p::before {
        content: ' ';
    }

    & code {
        background: transparent;
    }
}

.prose>div.relative>pre {
    border-radius: 0;
}

/* Tag h2 title/previous/next article styling */

h2.text-gray-500 {
    color: $discord-charcoal;
}

.post-tags-wrapper.py-4.xl\:py-8, .post-cats-wrapper > .flex {
    border-bottom-width: 1px;
    border-bottom-color: $peppermint-blush-white;
    border-bottom-style: solid;
}

.post-tags-wrapper h2 {
    @media #{$min-1280}  {
        margin-top: 0.25rem;
    }
}

.post-tags-wrapper .flex {
    margin-bottom: 1rem;
    @media #{$min-1280} {
        margin-bottom: 0.25rem;
    }
}

.post-cats-wrapper .flex {
    padding-bottom: 2rem;
    @media #{$min-1280} {
        padding-bottom: 2.25rem;
    }
}

.post-cats-wrapper h2 {
    margin-top: 1rem;
    @media #{$min-1280} {
        margin-top: 0.5rem;
    }
}

/* discuss on twitter/view on github styling */

/* stylelint-disable-next-line no-descending-specificity */
.divide-gray-200 a {
    color: $discord-charcoal;
    
    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        color: $discord-burgundy;
        text-decoration: none;
    }
}

/* tag/previous/next article styling */

/* stylelint-disable-next-line no-descending-specificity */
a.text-primary-500,
div.text-primary-500 a {
    // text-decoration: underline;
    text-decoration-thickness: 1px;

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        color: $discord-burgundy;
        text-decoration: none;
    }
}

#comment button {
    color: $white;
    background: $discord-charcoal;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid $peppermint-blush-white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1);

    &:hover {
        border: 1px solid $chai-punk-pink-lite;
        box-shadow: none;
        color: $chai-punk-pink-lite;
        transform: scale(0.99);
    }
}

/* footer text styling */

.post-layout-footer a,
.post-layout-footer div {
    color: $discord-charcoal;

    &.text-gray-500 div {
        color: $discord-charcoal;
    }
}

/* social/contact icon anchor styling */

a.text-gray-500>svg {
    fill: $discord-charcoal;
    margin-bottom: 1rem;
}

/* stylelint-disable-next-line no-duplicate-selectors */
h2.text-gray-500 {
    margin-bottom: 0.75rem;

    & a.tag {
        margin-bottom: 1rem;
    }
}

/* Custom styles - dark mode - individual post page */

.dark main.mb-auto {
    background: rgba($discord-charcoal, 0.5);
}

.dark .dark\:text-gray-400>time {
    color: $peppermint-blush-white;
}

.dark dd>a.text-primary-500 {
    color: $tailwind-dark-orange !important;

    &:hover {
        color: $tailwind-lighter-orange !important;
    }
}

.dark ul>li::marker {
    color: $peppermint-blush-white;
}

.dark .prose ul > li > a {
    color: $peppermint-blush-white !important;
}

.dark p {
    color: $peppermint-blush-white;

    & strong,
    & strong>em {
        color: $white;
    }
}

.dark .dark\:prose-dark h2 {
    font-weight: 600;
    letter-spacing: -0.025em;
}

/* stylelint-disable-next-line no-descending-specificity */
.dark .prose p>a {
    color: $peppermint-blush-white !important;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        text-decoration: none;
        color: $tailwind-peppermint-green !important;
    }
}

.dark .dark\:prose-dark p>code {
    background: transparent;
    color: $tailwind-peppermint-green;
}

.dark .prose>ul {
    & li>code {
        background-color: transparent;
        color: $tailwind-peppermint-green;
    }
}

.dark .dark\:prose-dark blockquote>p {
    color: $discord-charcoal !important;

    & code {
        // background: $main-background;
        background: transparent;
    }

    & strong,
    & strong>em {
        color: $discord-charcoal;
  }
}

.dark .prose strong, .dark .prose strong > em {
    color: $white;
}

/* discuss on twitter view on github styling & h2 tag/next/prervious article title styling */

/* stylelint-disable-next-line no-descending-specificity */
.dark .dark\:text-gray-300 a,
.dark h2.dark\:text-gray-400 {
    color: $peppermint-blush-white;
}

/* stylelint-disable-next-line no-descending-specificity */
.dark .dark\:text-gray-300 a {
    &:hover {
        color: $tailwind-peppermint-green;
    }
}

.dark #comment button {
    &:hover {
        border-color: $tailwind-peppermint-green;
        color: $tailwind-peppermint-green;
    }
}

/* tag styling */

/* stylelint-disable-next-line no-descending-specificity */
.dark .dark\:text-gray-400>div>a {
    color: #14b8a6 !important;

    &:hover {
        color: $tailwind-dark-orange !important;
    }
}

/* previous/next article styling */

/* stylelint-disable-next-line no-descending-specificity */
.dark a.text-primary-500,
.dark div.text-primary-500 a {
    color: $tailwind-dark-orange;

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
        color: rgba($tailwind-lighter-orange, 1) !important;
    }
}

.dark div.post-cats-wrapper.py-4.xl:py-8 > .flex.flex-wrap {
    border-bottom-width: 1px;
    border-bottom-color: $peppermint-blush-white;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    border-bottom-style: solid;
}

/* footer text styling */

/* stylelint-disable-next-line no-descending-specificity */
.dark footer a,
.dark footer div {
    color: $white;
}

/* stylelint-disable-next-line no-descending-specificity */
.dark .dark\:text-gray-400 div {
    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* social/contact icon anchor styling */

.dark a.text-gray-500>svg {
    fill: $white;
}

/* targets the footer section - set opacity to 0 so that every section on page does not get a bottom border */

.dark .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 0;

    border-bottom-color: rgb(237 225 213 / var(--tw-divide-opacity));
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
  
/* creates border bottoms in left column for viewports >= 1280px under author details */
/* stylelint-disable-next-line rule-empty-line-before */
.xl\:border-b,
.dark.xl\:border-b {
    @media #{$min-1280} {
        --tw-border-opacity: 1;

        border-bottom-color: rgb(237 225 213 / var(--tw-border-opacity));
        border-style: solid;
        border-bottom-width: 1px;
    }
}

/* Targets bottom border under author twitter handle in viewports >= 1280px */
.dark .xl\:dark\:border-gray-700 {
    @media #{$min-1280} {
        --tw-border-opacity: 1;
    
        border-bottom-color: rgb(237 225 213 / var(--tw-border-opacity));
        border-style: solid;
        border-bottom-width: 1px;
    }
}

/* Remove the dark background color of code element in dark mode */
.dark .dark\:prose-dark :where(code):not(:where([class~="not-prose"] *)) {
    background-color: transparent;
}
