/* media query variables */
$min-768: '(min-width: 768px)';
$min-1280: '(min-width: 1280px)';

/* TagsList styling */

/* remove top border in viewports >= 1280px */

.mb-auto .divide-y> :not([hidden])~ :not([hidden]) {
    border-top-width: 0;
}

.space-x-2.pt-6.pb-8.md\:space-y-5 {
    & h1.text-gray-900 {
        border-right: none;
        @media #{$min-768} {
            text-orientation: upright;
            writing-mode: vertical-lr;
        }
    }
}

/* TagsList dark mode styling */

.flex.max-w-lg.flex-wrap {
    @media #{$min-1280} {
        margin-top: -6rem;
    }
}

.justify-start {
    justify-content: center;
}

.md\:mt-24 {
    margin-bottom: 2rem;
    @media #{$min-768} {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}