/* color variables */
$aussie-blue: #80d0ff;
$aussie-brick: #910000;
$blue: #0000ff;
$chai-punk-pink-lite: #f293b1;
$chai-punk-pink: #ed5181;
$chocolate: #34222e;
$cream: #ffe9d6;
$discord-burgundy: #b81111;
$discord-charcoal: #23272a;
$discord-coral: #d9534f;
$discord-earth-red: #c52828;
$discord-lilac: #7289da;
$discord-lilac-lighter: #9eb3e6;
$discord-magenta: #ff73fa;
$discord-teal: #99aab5;
$french-yellow: #ffe556;
$french-yellow-darker: #fbce07;
$gradient-background-blue: #1095c1;
$inline-code-color-lite-mode: #4D0F0F;
$main-background: #fee9d7;
$misty-rose: #fbb;
$next-blue: #34569d;
$next-gray: rgb(156 163 175);
$peppermint-blush-white: #f2ebe3;
$steal-magenta: #c90076;
$tailwind-code-pink: #e12860;
$tailwind-dark-orange: rgb(249 115 22 / 100%);
$tailwind-lighter-orange: #ff9933;
$twitter-blue: #3b94d9;
$tailwind-peppermint-green: #14b8a6;
$white: #fff;

/* media query variables */
$min-384: '(min-width: 384px)';
$min-768: '(min-width: 768px)';
$min-1280: '(min-width: 1280px)';