/* variables */
$chocolate: #34222e;
$chai-punk-pink-lite: #f293b1;
$chai-punk-pink: #ed5181;
$tailwind-code-pink: #e12860;
$tailwind-peppermint-green: #14b8a6;
$discord-charcoal: #23272a;
$discord-coral: #d9534f;
$discord-earth-red: #c52828;
$discord-lilac: #7289da;
$discord-lilac-lighter: #9eb3e6;
$discord-teal: #99aab5;
$french-yellow: #ffe556;
$misty-rose: #fbb;
$main-background: #fee9d7;
$min-384: '(min-width: 384px)';
$next-blue: #34569d;
$peppermint-blush-white: #f2ebe3;
$white: #fff;