@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* stylelint-disable-next-line no-descending-specificity */
* {
  box-sizing: border-box;
  border-width: 0;
  border-color: #f2ebe3;
  border-style: none;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

body {
    overflow-x: hidden;
}

.mb-auto {
    width: 100%;
    margin: 0 auto;
}

/* Targets the color of the inline code and code elements in light mode and dark mode. */
.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: #fbdd12;
}