@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Custom styles - light mode individual post page */

/* page body background color */

.bg-white {
  background-color: $discord-teal;
}

.text-3xl {
  font-weight: normal;
}

main.mb-auto {
  border: 1px solid;
  border-radius: 0.63rem;

  /* lighter shade of $discord-lilac because of color contrast issue (accessibility) */
  background: #9eb3e6;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
	transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 1026px;
  width: 100%;
}

dd.text-gray-500 > time {
  color: $discord-charcoal;
}

/* "sectioning" border */

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;

  border-color: rgb(0 0 0 / var(--tw-divide-opacity));
}

.divide-y.divide-gray-200 > dd > a:hover {
  color: $peppermint-blush-white;
}

img.rounded-full {
  border: 1px solid !important;
}

dd.text-gray-900, dd > a.text-primary-500 {
  font-size: 1.1rem;
}

dd > a.text-primary-500 {
  color: #000 !important;
  text-decoration: underline;

  &:hover {
    color: $peppermint-blush-white;
    text-decoration: none;
  }
}

.prose {
  color: $discord-charcoal;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  & strong, & strong > em {
    color: #000;
  }

  & h2 {
    font-weight: 600;
  }
}

.prose > div > img {
  // border-radius: 3px;
  box-shadow: 2px 5px 5px 2px rgb(0,0,0) !important;
}

.prose p > code {
  background: #9eb3e6;

  /* replaced previous choice(s) with this color because of color contrast issues (accessibility) */
  color: #4D0F0F;
  font-size: 1rem;
  font-weight: normal;
}

.prose p > a:hover {
  text-decoration: none;
  color: $peppermint-blush-white !important;
}

.prose p > a, .prose ul li > a {
  color: $discord-charcoal !important;
  
  &:hover {
    color: $discord-earth-red !important;
  }
}

.prose > ul {
  list-style: square;
  margin-left: -0.75rem;

  & li > a:hover {
    color: $discord-earth-red !important;
  }
}

.prose ul > li::marker {
  color: $discord-charcoal;
}

.prose > blockquote {
  background: $main-background;
  color: $discord-charcoal;
  border-left: 0.4rem solid rgb(132 0 88 / 100%);
  padding: 0.5rem 1rem;

  // background: rgb(255 244 230);

  & p::before {
    content: " ";
  }

  & code {
    background: $main-background;
  }
}

.prose > div.relative > pre {
  border-radius: 0;
}

/* Tag h2 title/previous/next article styling */

h2.text-gray-500 {
  color: $discord-charcoal;
}

/* discuss on twitter/view on github styling */

.divide-gray-200 a {
  color: $discord-charcoal;
  text-decoration: underline;
  
  &:hover {
    color: $discord-earth-red;
    text-decoration: none;
  }
}

/* tag/previous/next article styling */

a.text-primary-500, div.text-primary-500 a {
  text-decoration: underline;
  
  &:hover {
    color: $discord-earth-red !important;
    text-decoration: none;
  }
}

#comment button {
  color: $white;
  background: $discord-charcoal;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid $peppermint-blush-white;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
  transform: scale(1);

  &:hover {
    border: 1px solid $chai-punk-pink-lite;
    box-shadow: none;
    color: $chai-punk-pink-lite;
    transform: scale(0.99);
  }
}

/* footer text styling */

footer a, footer div {
  color: $discord-charcoal;

  &.text-gray-500 div {
    color: $discord-charcoal;
  }
}

/* social/contact icon anchor styling */

a.text-gray-500 > svg {
  fill: $discord-charcoal;
}

/* Custom styles - dark mode - individual post page */

.dark main.mb-auto {
  background:$discord-earth-red;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: $peppermint-blush-white;
}

.dark .dark\:text-gray-400 > time {
  color: $peppermint-blush-white;
}

/* "sectioning" border */

.dark .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(237 225 213 / var(--tw-divide-opacity)) !important;
}

.dark dd > a.text-primary-500 {
  color: $peppermint-blush-white !important;

  &:hover {
    color: $tailwind-peppermint-green !important;
  }
}

.dark ul > li::marker {
  color: $peppermint-blush-white;
}

.dark .dark\:prose-dark > ul {
  & li > a {
    color: $peppermint-blush-white !important;
    &:hover {
      color: $tailwind-peppermint-green !important;
    }
  }
  
}

.dark p {
  color: $peppermint-blush-white;

  & strong, & strong > em {
    color: $white;
  }
}

.dark .dark\:prose-dark h2 {
  font-weight: 600;
  letter-spacing: -0.025em;
}

.dark p > a {
  color: $peppermint-blush-white !important;

  &:hover {
    text-decoration: none;
    color: $tailwind-peppermint-green !important;
  }
}

.dark .dark\:prose-dark > p > code {
  background: $discord-earth-red;
  color: #FFE96B;
  font-weight: normal;
}

.dark .dark\:prose-dark blockquote > p {
  color: $discord-charcoal !important;

  & code {
    // color: #b81111 !important;
    background: $main-background;
  }
}

/* discuss on twitter view on github styling & h2 tag/next/prervious article title styling */

.dark .dark\:text-gray-300 a, .dark h2.dark\:text-gray-400 {
  color: $peppermint-blush-white;
}

.dark .dark\:text-gray-300 a {
  &:hover {
    color: $tailwind-peppermint-green;
  }
}

.dark #comment button {
  &:hover {
    border-color: $tailwind-peppermint-green;
    color: $tailwind-peppermint-green;
  }
}

/* tag styling */

.dark .dark\:text-gray-400 > div > a {
  color: #14b8a6 !important;

  &:hover {
    color: $discord-earth-red !important;
  }
}

/* previous/next article styling */

.dark a.text-primary-500, .dark div.text-primary-500 a {
  color: $peppermint-blush-white;
  &:hover {
    color: $tailwind-peppermint-green !important;
  }
}

/* footer text styling */

.dark footer a, .dark footer div {
  color: $white;
}

.dark .dark\:text-gray-400 div {
    --tw-text-opacity: 1;
    
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* social/contact icon anchor styling */

.dark a.text-gray-500 > svg {
  fill: $white;
}